@import 'https://fonts.googleapis.com/css?family=Lato:300,400,500';

body {
  margin: 0 auto;
  max-width: 50em;
  background-color: #eee;
  color: #222;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  line-height: 1.2em;
}

input.url-input {
  width: 100%;
  font-size: 1.4em;
  background-color: #eee;
  border: 0;
  border-left: 0.4em #eee solid;
  transition: 0.3s border-color;
  padding: 0.5em 8em 0.5em 0.5em;
}

.name {
  font-size: 3em;
  text-align: center;
  padding: 2em 2em 0.5em;
  font-weight: normal;
}

.shortdesc {
  text-align: center;
  padding: 0.5em 1.5em 1.5em;
  color: #aaa;
}

.input-container {
  padding: 3em 5em 3em 5em;
  margin: 1em;
  background-color: #fafafa;
  border-radius: 1em;
}

.tinify-button {
  position: absolute;
  right: 0;
  border: none;
  background-color: #4af;
  height: 4.5em;
  width: 7em;
  color: #fff;
  font-weight: bold;

  :hover {
    background-color: #39e;
  }

  :active {
    background-color: #28d;
    color: #eee;
  }
}

.destination-link {
  font-size: 1.1em;
  line-height: 1.4em;
  width: 100%;
  border: 1px #02a714 solid;
  margin-top: 2em;
  padding: 0.5em;
  background-color: #eee;
  border-radius: 0.3em;
}

.source-link {
  font-size: 1.1em;
  line-height: 1.4em;
  width: 100%;
  border: 1px #0214a7 solid;
  margin-top: 2em;
  padding: 0.5em;
  background-color: #eee;
  border-radius: 0.3em;
}

.destination {
  text-align: center;
  overflow: hidden;
  transition: 0.75s;
  max-height: 40em;

  &.collapsed {
    max-height: 0;
  }
}

.qrcode {
  margin-top: 3em;
}
